.file-image {
    .c-footer {
        display: none;
    }
    padding: 10px;
}

.modal .modal-body {
    padding-bottom: 60px;
}

.attachmentBtn {
    width: 33%;
}

.danger {
    color: #ea1c0d;
}

.has-success .input-group-addon {
    border-color: none !important;
}

.eye {
    color: #000000;
    cursor: pointer;
}

.waves-effect {
    width: auto !important;
    display: inline-block !important;
}

.download-group {
    width: 100%;
}

.submit-btn {
    margin-top: 30px;
    margin-right: 10px;
}

#fileUpload {
    display: none;
}

.upload-btn {
    margin: 10px;
}