.tvh-user img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.t-view[data-tv-type="text"]:before,
.t-view[data-tv-type="text"]:after {
    display: none;
}

.timeline {
    padding-left: 50px;
    padding-top: 0;
}

.unlisted {
    list-style-type: none;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 200px;
}