/* You can add global styles to this file, and also import other style files */


/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

body {
    background-color: #F3E2A0;
}

#header,
#top-search-wrap {
    background-color: #4FA485;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.label-info {
    background-color: #D48134;
}

.top-menu>li>a>.tmn-counts {
    background-color: #D48134;
    /* temporary */
}

#profile-main .pm-body {
    min-height: 900px;
}

.fc-toolbar,
.fc th {
    background-color: #382F34;
}

.btn-success {
    color: #ffffff;
    background-color: #4FA485;
    border-color: #4FA485;
}

.modal .modal-body {
    padding: 0 26px 40px;
}


/* .fc th{} */