<div class="container">
    <div class="block-header">
        <h2>Calendar <small>FullCalendar is a jQuery plugin that provides a full-sized, drag & drop event calendar like the one below. It uses AJAX to fetch events on-the-fly and is easily configured to use your own feed format. It is visually customizable with a rich API.</small></h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="md md-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="md md-done-all"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="md md-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div id="calendar"></div>

    <!-- Add event -->
    <div class="modal fade" id="addNew-event" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <form class="addEvent" role="form" [formGroup]="createPost" novalidate>
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add a Post</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="{'has-success':createPost.get('name').touched&&createPost.get('name').valid,'has-error':createPost.get('name').touched&&createPost.get('name').invalid}">
                                    <label for="eventName">Title</label>
                                    <div class="fg-line">
                                        <input formControlName="name" type="text" class="input-sm form-control" id="eventName" placeholder="eg: Sports day">
                                    </div>
                                    <small class="help-block"></small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <!-- <p class="c-black f-500 m-b-20">Date Picker</p> -->

                                <div class="input-group form-group" [ngClass]="{'has-success':createPost.get('date').touched&&createPost.get('date').valid,'has-error':createPost.get('date').touched&&createPost.get('date').invalid}">
                                    <span class="input-group-addon"><i class="md md-event"></i></span>
                                    <div class="dtp-container dropdown fg-line">
                                        <label for="eventName">Date Picker</label>
                                        <input formControlName="date" type='text' class="form-control date-picker" data-toggle="dropdown" placeholder="Click here...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <!-- <p class="c-black f-500 m-b-20">Time Picker</p> -->

                                <div class="input-group form-group" [ngClass]="{'has-success':createPost.get('time').touched&&createPost.get('time').valid,'has-error':createPost.get('time').touched&&createPost.get('time').invalid}">
                                    <span class="input-group-addon"><i class="md md-access-time"></i></span>
                                    <div class="dtp-container dropdown fg-line">
                                        <label for="eventName">Time Picker</label>
                                        <input formControlName="time" type='text' class="form-control time-picker" data-toggle="dropdown" placeholder="Click here...">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="{'has-success':createPost.get('topic.name').touched&&createPost.get('topic.name').valid,'has-error':createPost.get('topic.name').touched&&createPost.get('topic.name').invalid}">
                                    <label for="eventName">Topic</label>
                                    <div class="fg-line" formGroupName="topic">
                                        <input type="text" formControlName="name" value="Topic1,Topic2" data-role="tagsinput">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="{'has-success':createPost.get('tags').touched&&createPost.get('tags').valid,'has-error':createPost.get('tags').touched&&createPost.get('tags').invalid}">
                                    <label for="eventName">Tags</label>
                                    <div class="fg-line">
                                        <input type="text" formControlName="tags" value="Tag-A,Tag-B" data-role="tagsinput">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- [ngClass]="{'has-success':createPost.get('date').valid,'has-error':createPost.get('date').invalid}" -->
                                    <label for="eventName">Social Profile</label>
                                    <div class="fg-line">
                                        <input type="text" value="Facebook-Global" data-role="tagsinput">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h2>Description
                                    <!-- <small>
                                Super Simple WYSIWYG Editor on Bootstrap</small> -->
                                </h2>
                            </div>

                            <div class="card-body">

                                <textarea [froalaEditor] formControlName="description"></textarea>


                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2>Attach Post <small>Write your post in your favorite word processor or design software and drag it here or click below to attach files for your colleagues to provide feedback on.</small></h2>
                            </div>

                            <div class="card-body card-padding">

                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-primary btn-file m-r-10">
                                                <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="...">
                                    </span>
                                    <span class="fileinput-filename"></span>
                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" [disabled]="createPost.invalid" class="btn btn-success waves-effect waves-button waves-float" id="addEvent">Save as draft</button>
                        <button type="button" [disabled]="createPost.invalid" (click)="submitForm()" class="btn btn-primary waves-effect waves-button waves-float" id="addEvent">Save as ready for review</button>
                        <button type="button" class="btn btn-danger waves-effect waves-button waves-float" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>