<div class="container">

    <div id="calendar"></div>

    <div class="modal fade" tabindex="-1" role="dialog" id="addNew-event" data-keyboard="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Post</h4>
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                </div>
                <div class="modal-body">
                    <app-create-post (formSubmitted)="submitForm($event)" [date]="date"></app-create-post>
                </div>
            </div>
        </div>
    </div>
</div>